.card-btn {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  position: absolute;
  border: none;
  bottom: 1%;
  color: #FFF;
  font-size: 20px;
  cursor: pointer;
  font-family: FontAwesome;
  outline: 0;
}

/* .fa-heart {
  left: 1%;
  background: #E53935;
}

.like::after {
  content: "\f004";
}

.fa-bookmark {
  right: 1%;

}

.fa-bookmark::after {
  content: "\f02e";
}

.like:hover::after, .fa-bookmark:hover::after {
  animation: iconBounce .57s 1;
}

@keyframes iconBounce {
  0% {
    font-size: 24px;
  }
  
   50% {
    font-size: 28px;
  }
  
  100% {
    font-size: 24px;
  }

} */