#image{
    background-image: url("/Users/gabicassarino/Desktop/Rutgers/Homework/Your-Perfect-Recipes/client/public/images/knife.jpg");
    background-size: 100% 350px;
    height: 350px;
    margin-bottom: 2px;

}