.createrecipe {
    margin-left: 250px;
    margin-top: 100px;
  }

  .favrecipe {
      margin-top: 100px;
  }

  .favrecipebtn {
      margin-right: -100px;
      margin-top: -55px;
  }

  .background {
    background-image: url("../Home/marbleDesktop.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}
